{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col my-auto">
            {% if user.paidmember %}
            <h1 class="callout-text">Welcome Back {{ request.user.userinfo.first_name }}</h1>
            {% else %}
            <h1 class="callout-text">Join<br/><span class="yellow-text">Bee Fitness</span><br>Today</h1>
            {% endif %}
            <div class="my-5">
                {% if user.paidmember %}
                <a href="{% url 'members' %}" class="yellow-btn btn btn-lg btn-font-lg">
                    Members Area</a>
                {% else %}
                <a href="{% url 'payment' %}" class="yellow-btn btn btn-lg btn-font-lg">
                    Join the Gym</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}