{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container h-100">
    <div class="row h-100">
        <div class="col my-auto">
            {% if user.paidmember %}
            <h1 class="display-4">Welcome Back {{ request.user }}</h1>
            {% else %}
            <h1 class="display-4">TEXT TEXT TEXT</h1>
            {% endif %}
            <div class="my-5">
                {% if user.paidmember %}
                <a href="{% url 'members' %}" class="btn btn-lg">
                    Members Area</a>
                {% else %}
                <a href="{% url 'payment' %}" class="btn btn-lg">
                    Join the Gym</a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}