html {
    height: 100%;
}

body {
    background: url('/media/cross-trainer.jpg') no-repeat 70% 40% fixed;
    background-size: cover;
    height: calc(100vh - 64px);
}

/* Navbar */

ul.desktop-nav-links.navbar-nav {
    flex-direction: row;
}

.bf-logo img {
 max-height: 75px;
}

.bf-logo.mobile-nav img {
    max-height: 60px;
}

/* Overlay */

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

.header-container {
        padding-top: 91px;
    }

/* Home app - Headers */

.home-header {
    height: 50vh;
    position: relative;
}

.header-about {
    background: url('/media/treadmill.jpg') no-repeat center fixed;
}

.header-gym {
    background: url('/media/arm-press.jpg') no-repeat 65% 70% fixed;
}

.header-racquets {
    background: url('/media/tennis.jpg') no-repeat center fixed;
}

.header-swim-spa {
    background: url('/media/swimming.jpg') no-repeat 80% 50% fixed;
}

.header-about,
.header-gym,
.header-racquets,
.header-swim-spa {
    height: 100%;
    background-size: cover;
    background-blend-mode: hard-light;
    background-color: #5f5d30;
}

.home-header--text {
    position: absolute;
    bottom: 0;
    margin: 0 auto;
    width: 100%;
    color: white;
} 

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
	display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {	
	color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
	color: #17a2b8; /* text-info */
}