<nav class="navbar navbar-expand-md navbar-light bg-light d-md-none fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <li class="list-inline-item">
        <a href="{% url 'home' %}" class="bf-logo">
            <img src="https://www.rotageek.com/hubfs/P%20-%20Sep20%20Website%20Assets/images/logo--rotageek.svg"
                alt="test image logo">
        </a>
    </li>
    <li class="list-inline-item acc-icon text-success">
        <div class="dropdown">
  <a href="#" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
     <div class="text-center">
                    <div><i class="fas fa-user fa-lg"></i></div>
                    <p class="my-0">My Account</p>
                </div>
            </a>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    {% if request.user.is_authenticated %}
            <a class="dropdown-item" href="{% url 'user_profile' %}">Profile</a>
            <a class="dropdown-item" href="{% url 'account_logout' %}">Sign Out</a>
            {% else %}
            <a class="dropdown-item" href="{% url 'account_signup' %}">Join</a>
            <a class="dropdown-item" href="{% url 'account_login' %}">Sign In</a>
            {% endif %}
  </div>
  </div>
    </li>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav text-center mx-auto">
            <li class="nav-item active">
                <a class="nav-link" href="{% url 'about' %}">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'gym' %}">Gym</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'racquets' %}">Racquets</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'swim' %}">Swim &amp; Spa</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'members' %}">Members</a>
            </li>
            {% endif %}
        </ul>
    </div>


</nav>