{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
{% if user.paidmember %}
<div class="overlay"></div>
<div class="container">
    
    <div class="row">
        <div class="col">
            <h1>Members {{ user.paidmember }}</h1>
            <div class="membership-card">
                {% load qr_code %}
                {% qr_from_text "{{ user }}" %}
                <p>End date: {{ user.paidmember.end_date }}</p>
                <p>user id {{ user.id }}</p>
                <p>user name {{ user.userinfo.first_name }}</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">

            <h1>Exercise Plan {{ user }} {{ members.exerciseplan }}</h1>

            <h1>{{ user.exerciseplan.date }} - date</h1>
            <h1>{{ user.exerciseplan.title }} - title</h1>
            <h1>{{ user.exerciseplan.warmup_time }} warmup_time</h1>
            <h1>{{ user.exerciseplan.warmup_instructions }} warmup_instructions</h1>
            <h1>{{ user.exerciseplan.main_exercise_time }} main_exercise_time</h1>
            <h1>{{ user.exerciseplan.exercise_instructions }} exercise_instructions</h1>
            <h1>{{ user.exerciseplan.cooldown_time }} cooldown_time</h1>
            <h1>{{ user.exerciseplan.cooldown_instructions }} cooldown_instructions</h1>

            <h1>No PT PLANS</h1>
         

        </div>
    </div>
</div>
    {% else %}
    <div class="overlay overlay-member-subscribe"></div>
<div class="container">
    <div class="row">
        <div class="col-12 member-subscribe">
            <i class="fas fa-lock"></i>
           <p>Please subscribe to access the member content.</p>
            <a href="{% url 'payment' %}" class="join-gym-btn btn btn-lg">
                    Join the Gym</a>
        </div>
    </div>
</div>

    {% endif %}
    
{% endblock %}