{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
{% if user.paidmember %}
{% include 'includes/home-header.html' %}
<div class="overlay"></div>
<div class="container">
    <div class="row mobile-view">
        <div class="col">
            <h1>Rotate device to view membership card</h1>
        </div>
    </div>
    <div class="row membership-card-row">
        <div class="col">
            <div class="membership-card">
                <div class="membership-card-inner">
                    <div class="membership-card-front">
                        <img src="{{MEDIA_URL}}bf-membership.png" alt="membership card" class="membership-card-img">
                    </div>
                    <div class="membership-card-back">
                        {% load qr_code %}
                        {% qr_from_text "" %}
                        <p class="membership-card-name">{{ user.userinfo.first_name }} {{ user.userinfo.last_name }}</p>
                        <p class="membership-card-text">Subscription Ends: {{ user.paidmember.end_date.date }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr class="yellow-hr">
    <h1 class="text-center">Exercise Plan - Personal Training</h1>
    <hr class="yellow-hr">
    <div class="row overflow-auto exercise-plans">
        <div class="col text-center">


            {% for plan in exercise_plans %}
            <p class="exercise-plan-sm-text">{{ plan.date.date }}</p>
            <p class="exercise-plan-lg-text">{{ plan.title }}</p>
            {% if not plan.warmup_time == None %}
            <p class="exercise-plan-sm-text">Warmup for {{ plan.warmup_time }} mins</p>
            {% endif %}
            <p class="exercise-plan-sm-text">{{ plan.warmup_instructions }}</p>
            <p class="exercise-plan-sm-text">Main exercise for {{ plan.main_exercise_time }} mins</p>
            <p class="exercise-plan-sm-text">{{ plan.exercise_instructions }}</p>
            {% if not plan.warmup_time == None %}
            <p class="exercise-plan-sm-text">Cooldown for {{ plan.cooldown_time }} mins</p>
            {% endif %}
            <p class="exercise-plan-sm-text">{{ plan.cooldown_instructions }}</p>
            <hr class="black-hr">
            {% endfor %}
            {% if not exercise_plans %}
            <h1>No PT PLANS</h1>
            <p class="exercise-plan-sm-text">Contact your gym rep if you think you should have a PT plan</p>
            {% endif %}

        </div>
    </div>
</div>
{% else %}
<div class="overlay overlay-grey"></div>
<div class="container">
    <div class="row">
        <div class="col-12 member-subscribe">
            <i class="fas fa-lock"></i>
            <p class="alert-text">Please subscribe to access the member content.</p>
            <a href="{% url 'payment' %}" class="black-btn btn btn-lg">
                Join the Gym</a>
        </div>
    </div>
</div>

{% endif %}

{% endblock %}