{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Payment</h1>
                <h2></h2>

{% if user.paidmember %}

<h1>Subscription Already Active.</h1>

<p>were you looking for the <a href="{% url 'members' %}">Members Area</a>?</p>

<p>user {{ user }}</p>
<p>start {{ start_date }}</p>
<p>end {{ user.paidmember.end_date }}</p>
<p>user user info {{ user.userinfo.first_name }}</p>

{% endif %}

{% if not user.paidmember %}

<h1>{{ request.user.id }}</h1>

<form action="{% url 'payment' %}" method="POST" id="payment-form">
                    {% csrf_token %}
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label small text-black px-2 w-auto">Name</legend>
                        {{ user_info.first_name | as_crispy_field }}
                        {{ user_info.last_name | as_crispy_field }}
                    </fieldset>
                    <fieldset class="rounded px-3 mb-5">
                        <legend class="fieldset-label small text-black px-2 w-auto">Details</legend>
                        {{ user_info.phone_number | as_crispy_field }}
                        {{ user_info.first_line_address | as_crispy_field }}
                        {{ user_info.postcode | as_crispy_field }}
                    </fieldset>
<div class="container mt-5">
      <button type="submit" class="btn btn-primary" id="addInfo">Add info</button>
    </div>
                    
                </form>


<div class="container mt-5">
      <button type="submit" class="btn btn-primary" id="submitBtn">Subscribe</button>
    </div>


            

        </div>
    </div>
</div>

{% endif %}

<form action="check-paid-status" method="GET">
<button type="submit" class="yellow-btn btn btn-lg"> DELETE USERS</button>
</form>
<!-- <a href="" name="check-paid-status" id="check-paid-status" class="btn btn-lg">
                    Delete USERS</a> -->

{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'js/stripe.js' %}"></script>
{% endblock %}