{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}


{% block content %}
<div class="overlay"></div>
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Success</h1>

            <p>user {{ user }}</p>
<p>start {{ start_date }}</p>
<p>end {{ end_date }}</p>
<p>user info {{ userinfo }}</p>
<p>user user info {{ user.userinfo.first_name }}</p>

        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
    <script src="{% static 'js/stripe.js' %}"></script>
{% endblock %}